.row {
    display: flex;
    color: white;
}

.col {
    height: 100px;
    margin: 10px;
    background-color: midnightblue;
    flex: 1;
}

.col-2 {
    height: 100px;
    margin: 10px;
    background-color: olive;
    flex: 2;
}